<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/gg.css'%}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header1">
        <img class="img1" src="https://cdn-icons-png.flaticon.com/512/4943/4943305.png" alt="">
        <div class="links">

            <a href="profile" class="l1">
                Профиль</a>

            <a href="collectin" class="l1">
                Коллекция</a>
        </div>
    </header>


        <a class="imgManga" href="manga"><img class="imgManga1" src="https://cover.imglib.info/uploads/cover/onii-chan-wa-oshimai/cover/iRniVtf53cwu_250x350.jpg"/></a>
        <p class="naming">{{ manga.manga_id.title}}</p>
        <p class="desc">Это комедия о пареньке по имени Ояма Махиро,</br> который проснувшись однажды утром обнаружил,</br>  что стал девушкой, вследствии узнав,</br>  что во всём виноваты странные препараты его сестрёнки. </p>

</body>
</html>