<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/collection_style.css'%}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header1">
        <img class="img1" src="https://cdn-icons-png.flaticon.com/512/4943/4943305.png" alt="">
        <div class="links">
            <a href="profile" class="l1">
                Профиль</a>
            <a href="collectin" class="l1">
                Коллекция</a    >
        </div>
    </header>
    <h1 class="h">Ваша коллекция</h1>
    <div >
        {% for i in cards%}
        <a href="brother"><div class="manga">
            <img class="imgManga" src="{{i.card_id.img}}"/>
            <p>{{ i.card_id.title }}</i></p>
        </div></a>
        {% endfor %}
    </div>
</body>
</html>